<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">DevGram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">


    <h1 class="title"> Iniciar sesión </h1>

    <div id="login-content">
      <ion-input
        type="email"
        fill="solid"
        label="Email"
        labelPlacement="floating"
        helperText="Enter a valid email" 
        errorText="Invalid email"
        ngModel
        email
      ></ion-input><br>
      <ion-input
      type="password"
      fill="solid"
      label="Contraseña"
      labelPlacement="floating"
    ></ion-input>
    <p>¿No tienes una cuenta? <a href="/select">Crear</a></p>

    </div>

    <footer>
      <ion-buttons id="login-button">
        <a href="inicio">Siguiente </a>
      </ion-buttons>
      <br>
      <a class="olvidado" href="/select">¿Haz olvidado tu contraseña?</a>
    </footer>
  </div>
  </ion-content>

