#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  max-height: 100%;
  padding-top: 20% ;
  padding-bottom: 20% ;
  background: linear-gradient(rgb(92, 92, 92) 50%, rgb(160, 159, 159),rgb(177, 176, 176) );
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #login-button {
    display: flex;
    // background-color: rgb(33, 33, 231);
    background-color:var(--ion-color-primary);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: large;
    // margin-top:30%;
    width: fit-content;

    a{
        text-decoration: none;
        color: white;
  
    }
  }
}

#titulo {
  display: flex;
  text-align: center;
}