<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>DevGram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <Header>
      <!-- <h1>Registrate como Desarrollador</h1> -->
      <h1 class="capitalize">¡Ya no queda nada! Completa los siguientes datos para crear tu cuenta.</h1>
      <img src="../../assets/img/cli.jpeg" alt="">
    </Header>
    
    <div id="login-content">
      <ion-list>
        <ion-list>
          <ion-item>
            <ion-input label="Nombre y Apellido" placeholder="Juan Perez"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input label="Contraseña" type="password" value="password"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input label="Email" type="email" placeholder="email@example.com"></ion-input>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>

    <footer>
      <ion-buttons id="regcli-button">
          <a href="/inicio"> Siguiente</a>
        </ion-buttons>
    </footer>
  </div>
</ion-content>
