#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    max-height: 100%;
    background: linear-gradient(rgb(92, 92, 92) 50%, rgb(160, 159, 159),rgb(177, 176, 176) );

}

.toolbar

.capitalize{
    font-size: x-large;
    text-transform: capitalize;
    margin-top: 20%;
    text-align: center;
    
}

.users-icons{
    display: flex;
    flex-direction: row;
    border-radius: 100%;
    img{
        width: 150px;
        height: 150px;
        margin: 20px;
    }
    p{
        text-align: center;

    }

}

.user-dev{
    .button-normal{
        background: none;
        opacity: 0.5;
        transition: 0.2s;
    }
    .button-active{
        background: none;
        scale: 1.2;
        opacity: 1;
        transition: 0.2s;
    }

    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    // margin: 20px;
}  
.user-cli{
    .button-normal{
        background: none;
        opacity: 0.5;
        transition: 0.2s;
    }
    .button-active{
        background: none;
        scale: 1.2;
        opacity: 1;
        transition: 0.2s;
    }

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 20px;
}  

#select-button {
    display: flex;
    // margin-bottom: 80%;
    // color: var(--ion-color-primary);
    background-color:var(--ion-color-primary);
    // background-color: rgb(33, 33, 231);
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: large;
}

footer{
    align-items: center;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

    div{
        display: flex;
        align-items: center;
        font-size: smaller;
        gap: 10px;
        ion-icon{
            font-size: large;
        }
    }
}

#titulo {
    display: flex;
    text-align: center;
}

