<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
  <section id="login">

    <ion-title> Iniciar sesion </ion-title>

    <div id="login-content">
      <ion-list>
        <ion-list>
          <ion-item>
            <ion-input label="Text input" placeholder="Enter text"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input label="Number input" type="number" placeholder="000"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input label="Password input" type="password" value="password"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input label="Email input" type="email" placeholder="email@domain.com"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input label="Telephone input" type="tel" placeholder="888-888-8888"></ion-input>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>

    <ion-buttons id="login-button">
      <a href="inicio">Siguiente </a>
    </ion-buttons>
  </section>
  </ion-content>

