#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    max-height: 100%;
    padding-top: 5% ;
    padding-bottom: 10% ;
    background: linear-gradient(rgb(54, 54, 54) 50%, rgb(90, 90, 90),rgb(170, 170, 170) );
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    img{
        width: 150px;
        height: 150px;
        margin: 20px;
    }
}

header h1{
    text-shadow: -1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white;
    font-weight: bold;
}

header .capitalize{
    color: white;
}

select{
    // height: 50px;s
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 4px;
    margin-left: 20px;
    text-decoration: none;
}

#regdev-button {
    display: flex;
    // margin-bottom: 80%;
    background:linear-gradient(blue 60%, rgb(133, 133, 255));
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: large;

    a{
        text-decoration: none;
    color: white;

    }
}

#titulo {
    display: flex;
    text-align: center;
}

#login-content ion-list{
    border-radius: 3;
}

// #login-content ion-list {
//     background-color: transparent; /* Hace el fondo transparente */
//     border: none; /* Elimina cualquier borde, si es necesario */
//     box-shadow: none; /* Elimina cualquier sombra */
// }

// /* Opcional: Estilo para ion-item si también tienen un fondo */
// #login-content ion-item {
//     background-color: transparent; /* Hace el fondo de cada ion-item transparente */
//     border: none; /* Elimina cualquier borde */
// }