<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title id="titulo">DevGram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <Header>
      <img src="../../assets/img/dev2.jpeg" alt="">
      <h1>Registrate como Desarrollador</h1>
      <strong class="capitalize">¡Queremos saber a que te dedicas!</strong>
    </Header>
    
    <div id="login-content">
      <ion-list>
        <ion-list>
          <ion-item>
            <ion-input label="Nombre y Apellido" placeholder="Juan Perez"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input label="Contraseña" type="password" value="password"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input label="Email" type="email" placeholder="email@example.com"></ion-input>
          </ion-item>
          
          <ion-item>
            <label for="especialidad">Especialidad</label>
            <select name="especialidad" id="especialidad">
              <option value="des-web">Desarrollo Web<option>
              <option value="des-app-moviles">Des. de Apps Móviles</option>
              <option value="ciencia-de-Datos">Ciencia de Datos</option>
              <option value="bases-de-Datos">Bases de Datos</option>
              <option value="ciberseguridad">Ciberseguridad</option>
              <option value="des-de-software">Des. de Software</option>
              <option value="redes-y-sistemas">Redes y Sistemas</option>
              <option value="IA">Inteligencia Artificial</option>
            </select>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>

    <footer>
      <ion-buttons id="regdev-button">
          <a href="/inicio"> Siguiente</a>
        </ion-buttons>
    </footer>
  </div>
</ion-content>
