<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>DevGram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong class="capitalize">Home</strong> -->
    <!-- <br> -->
    <ion-searchbar animated="true" placeholder=""></ion-searchbar>

    <ion-card color="light">
      <div class="imagen" >
        <img src="../../assets/img/perfil-1.jpeg" alt="">
      </div>
      <div>
        <ion-card-header>
          <ion-card-title>Mc Lovin</ion-card-title>
          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        </ion-card-header>
        
        <ion-card-content>
          <div class="especialidad">
            # Desarrollo Web 
          </div> 
        </ion-card-content>
      </div>
      <div class="star">
        <ion-icon name="star-outline"></ion-icon>
        <h1>5</h1>
      </div>
    </ion-card>

    <ion-card color="light">
      <div class="imagen">
        <img src="../../assets/img/perfil-2.jpeg" alt="">
      </div>
      <div>

        <ion-card-header>
          <ion-card-title>Cristóbal Ávila</ion-card-title>
          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        </ion-card-header>
        
        <ion-card-content>
          <div class="especialidad">
            # Des. Apps moviles 
          </div> 
        </ion-card-content>
      </div>
        
      <div class="star">
        <ion-icon name="star-outline"></ion-icon>
        <h1>5</h1>
      </div>
    </ion-card>

    <ion-card color="light">
      <div class="imagen">
        <img src="../../assets/img/perfil-3.jpeg" alt="">
      </div>
      <div>

        <ion-card-header>
          <ion-card-title>Cachorro</ion-card-title>
          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        </ion-card-header>
        
        <ion-card-content>
          <div class="especialidad">
            # Ciencia de datos 
          </div> 
        </ion-card-content>
      </div>
        
      <div class="star">
        <ion-icon name="star-outline"></ion-icon>
        <h1>4</h1>
      </div>
    </ion-card>

    <ion-card color="light">
      <div class="imagen">
        <img src="../../assets/img/perfil-1.jpeg" alt="">
      </div>
      <div>

        <ion-card-header>
          <ion-card-title>Mc Lovin</ion-card-title>
          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        </ion-card-header>
        
        <ion-card-content>
          <div class="especialidad">
            # Bases de datos 
          </div> 
        </ion-card-content>
      </div>
        
      <div class="star">
        <ion-icon name="star-outline"></ion-icon>
        <h1>3</h1>
      </div>
    </ion-card>
    <ion-card color="light">
      <div class="imagen">
        <img src="../../assets/img/perfil-2.jpeg" alt="">
      </div>
      <div>

        <ion-card-header>
          <ion-card-title>Cristóbal Ávila</ion-card-title>
          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        </ion-card-header>
        
        <ion-card-content>
          <div class="especialidad">
            # Ciberseguridad 
          </div> 
        </ion-card-content>
      </div>
        
      <div class="star">
        <ion-icon name="star-outline"></ion-icon>
        <h1>3</h1>
      </div>
    </ion-card>
    <ion-card color="light">
      <div class="imagen">
        <img src="../../assets/img/perfil-3.jpeg" alt="">
      </div>
      <div>

        <ion-card-header>
          <ion-card-title>Cachorro</ion-card-title>
          <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
        </ion-card-header>
        
        <ion-card-content>
          <div class="especialidad">
            # Inteligencia artificial 
          </div> 
        </ion-card-content>
      </div>
        
      <div class="star">
        <ion-icon name="star-outline"></ion-icon>
        <h1>2</h1>
      </div>
    </ion-card>

    
  </div>
</ion-content>